*::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
}

*::-webkit-scrollbar-track {
  background: #343541;
  border-radius: 2.5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #565869;
  border-radius: 5px;
}

.chat-body>div {
  height: 100%;
}

body {
  overflow: overlay;
}
